@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #2f2f2f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: "Cairo", sans-serif;
  direction: rtl;
}

.form-control {
  display: flex !important;
  margin: 30px auto !important;
  color: white;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}